applier/* linguist-vendored
shared/* linguist-vendored
sharedtest/* linguist-vendored
DanmakuFlameMaster/* linguist-vendored
dialogplus/* linguist-vendored
previewseekbar/* linguist-vendored
multipleimageselect/* linguist-vendored
takephoto_library/* linguist-vendored
