<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darsh.multipleimageselect" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.AlbumSelectActivity"
            android:label="@string/app_name"
            android:theme="@style/MultipleImageSelectTheme"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ImageSelectActivity"
            android:label="@string/app_name"
            android:theme="@style/MultipleImageSelectTheme"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
